################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sysnom2024/FormMenu.cs
.vs/ 
